server:
  port: 8080

spring:
  jackson:
    deserialization:
      fail-on-null-for-primitives: true
  elasticsearch:
    uris: http://127.0.0.1:9200/
  profiles:
    default: dev
    include: secret
  application:
    name: dajava_server
  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  cache:
    type: redis
  servlet:
    multipart:
      max-file-size: ${spring.servlet.multipart.max-request-size}
      max-request-size: 10MB
  jpa:
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  data:
    redis:
      host: localhost
      port: 6379
      password: 1234

logging:
  level:
    com.back: INFO
    org.hibernate.SQL: INFO
    org.hibernate.orm.jdbc.bind: INFO
    org.hibernate.orm.jdbc.extract: INFO
    org.springframework.transaction.interceptor: INFO

image:
  path: C:/page-capture
